
<!-- Footer -->
<footer class="footer-container text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="">Help</h5>
                    <ul class="list-unstyled ">
                        <li>
                            <a href="#!" class="text-white">Track Order</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Returns</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Shipping</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">FAQs</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
                    <!-- Section: Form -->
                    <form action="">
                        <!--Grid row-->
                        <div class="row d-flex">
                            <div class="row ">
                                <p style="width:30%;">
                                    <strong>Newsletter</strong>
                                </p>
                            </div>
                            <div class="row ">
                                <!-- Email input -->
                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="form5Example21" class="form-control"
                                        value="email@example.com" style="width:50%;" />
                                </div>
                            </div>
                            <div class="row" style="width:30%; margin-left:1%">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-outline-light mb-4 custom-btn">
                                    Subscribe
                                </button>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <!-- Facebook -->
                                    <a class="btn btn-dark" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>
                                </div>
                                <div class="col-sm-2">

                                    <!-- Instagram -->
                                    <a class="btn btn-dark" href="#!" role="button"><i class="fa fa-instagram"></i></a>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                    </form>
                </div>
            </div>
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->