/*body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;
   margin-left: auto;
   margin-right: auto;
    width: 40%;
    height: 80%;

    }
.container{
    margin-left: auto;
    margin-right: auto;
   
}
#pass{
    margin-left: 25%;
    
}
#flag{
    margin-left: 25%;
    color: #f44336;
}
#uname{
    margin-left: 25%;
}
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 25%;
}
h2{
    margin-left: 50%;
    font-size: 40px;
}
button {
  background-color: lightblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}*/
.form-control.ng-touched.ng-invalid {
  border:1px solid red;
 }
 .form-control.ng-touched.ng-valid {
  border:1px solid green;
 }
 