.owl-prev,
.owl-next {
    background-color: rgba(83, 91, 92, 0.318);
    border: 0px;
    border-radius: 1px;
}

.products-container {
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 10%;

}

.info-container {
    margin: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(155, 155, 155);

}

.seperator {
    background-color: rgba(188, 188, 191, 0.21);
    height: 7%;
}

.title {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 5%;
    margin-left: 40%;

}