
<div class="shopping-cart">
  <!-- Title -->


  <div class="title">
    Shopping Bag
  </div>

  <!-- Product #1 -->
  <div></div>
  <div> <span id="product"> product</span> <span id="qt"> quantity</span> <span id="price"> price</span> <span>
      total</span></div>

  <div class="item" *ngFor="let item of products;let i=index">

    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>

    <div class="image">
      <img src="" alt="" />
    </div>

    <div class="description">
      <span>Maison Margiela</span>
      <span>Future Sneakers</span>
      <span>White</span>
      <span> {{item.price}}</span>
    </div>
    <div class="quantity">
      <select [(ngModel)]="car_y" (change)="selected()">
        <option value="null" selected disabled>Select option</option>
        <option *ngFor="let item of data" [ngValue]="item">{{item}}</option>
      </select>

    </div>
    <div class="total-price" [(ngModel)]="item[i]" ngDefaultControl>{{products.price }}</div>
    <div class="total-price" [(ngModel)]="total_price" ngDefaultControl>{{total_price}}</div>
  </div>
 

</div>