<p>add-product works!</p>
<form >

    <label for="ProductTitle">Product Title:</label>
    <input [(ngModel)]="name" type="text" id="ProductTitle" name="ProductTitle" required><br> <br><br> <br>

    <label for="price">Price:</label>
    <input [(ngModel)]="price" type="text" id="price" name="price" placeholder="ex: $25" required><br> <br><br> <br>  
    <label for="Image">Image:</label>
    <input [(ngModel)]="img" type="text" id="img" name="img" required><br> <br><br> <br>

    <br> <br><br> <br>
    <p class="desfield">
    <label for="Description">Description:</label>
    <textarea  [(ngModel)]="desc" id="Description" name="Description" rows="6" cols="50" required="yes" 
    placeholder="Write product description"></textarea>
    </p>
    <br> <br>
    
    <div id="dropdownlist">
        <label for="subcategory">subcategory:</label>
        <select formControlName="categoryList" class="form-control">
            <option disabled>Select category</option>
            <option>Choose category</option>
            <option *ngFor="let category of one">{{one}}</option>
            <option *ngFor="let category of two">{{two}}</option>


        </select>
  </div>

    <br> <br><br> <br>

    <button (click)="onSubmit()"  class="custom-btn" type="submit">Submit</button>

    
  </form>
