<div class="containeree">
    <div class="filter"> 
        <div class="border">
            <p class="Filters-div">Filters</p>
        </div>
        <div class="border">
            <p class="Free-Shipping">Eligible for Free Shipping</p>
            <input id="checkbox_id" name="checkbox" type="checkbox" />
            <label for="checkbox_id">&#160; Free Shipping</label>
        </div>
        <div class="border">
            <p class="price_label">price</p>
            <div class="labels">
                <label class="from_label" for="from">From</label>
                <label class="to_label" for="To">To</label>
            </div>
            <input OnlyNumber="true" class="from_input" type="number" min="0" [(ngModel)]="min">
            <input class="to_input" type="number" name="To" min="0" max ="99999" id="max" [(ngModel)]="max">
            <!-- <button  class="price_button">Go</button> -->
            <br>
        </div>
        <div class="border center">
            <p>Average Customer Rating </p>
            <a id="star_1" (click)="star($event);" ><span  class=" star fa fa-star checked" ></span></a>
            <span class=" star fa fa-star checked"></span>
            <span class=" star fa fa-star checked"></span>
            <span class=" star fa fa-star"></span>
            <span class=" star fa fa-star"></span>
        </div>
    </div>

    <div class="not-filter">
        <p class="results_paragraph">Results of {{itemName}} </p>
        <div class="products"   >
     
            <!-- <div class="product" routerLink="/product-page/{{item.id}}" *ngFor="let item of Products; let i = index" style="background-image: url('/assets/product-details/{{item.img}}.jpg')">
    
            </div> -->
            <div class="product" routerLink="/product-page/{{item.id}}" *ngFor="let item of filter(Products); let i = index" >
            <div class="product_img" style="background-image: url('/assets/product-details/{{item.img}}.jpg')">
                
            </div >
                    <div >
                        <h1 class ="product_name">
                            {{item.name}}
                        </h1>
                        <h1 style="color: black;">
                            price: <span class="prudct_price">{{item.price}}</span>
                        </h1>
                    </div>
            </div>

    
    
        </div>
    </div>
</div>


<div class="clear"></div>