<div class="containeree">
    <div class="filter"> 
        <div class="border">
            <p class="Filters-div">Filters</p>
        </div>
        <div class="border">
            <p class="Free-Shipping">Eligible for Free Shipping</p>
            <input name="checkbox" type="checkbox" />
            <label for="checkbox">&#160; Free Shipping</label>
        </div>
        <div class="border">
            <p>price</p>
        </div>
        <div class="border">

        </div>
        <div class="border">

        </div>
    </div>

    <div class="not-filter">
        
    </div>
</div>


<div class="clear"></div>